/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/public/vendor
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.editorconfig
.gitattributes
composer.lock
package-lock.json
yarn.lock
