// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-blue: rgb(215, 243, 254);
$dark-blue: rgb(48, 185, 253);

$light-green: rgb(224, 249, 241);
$dark-green: rgb(69, 220, 163);

$light-yellow: rgb(255, 239, 219);
$dark-yellow: rgb(248, 146, 46);

$light-red: rgb(221, 190, 190);
$dark-red: rgb(175, 15, 86);
